Repository sighupio/permission-manager: changes, and which Drone steps are due for each by the changed paths.
All: preview, release-helm-chart, e2e

preview:
  steps:
  - name: clone
    image: alpine/git
    commands:
    - git clone https://github.com/sighupio/permission-manager .
    - git checkout $DRONE_COMMIT
    - git fetch --tags
  - name: unit-test
    image: golang:1.19
    pull: always
    commands:
    - make test
  - name: registry-sha
  ...

release-helm-chart:
  steps:
  - name: fetch-gh-pages-branch
    image: alpine/git:2.36.3
    commands:
    - git fetch origin gh-pages
  - name: chart-releaser
    image: quay.io/helmpack/chart-releaser:v1.5.0
    environment:
      CR_OWNER: sighupio
      CR_GIT_REPO: permission-manager
      CR_TOKEN:
        from_secret: c3p0
  ...

e2e:
  steps:
  - name: Kubernetes v1.23
    image: docker:23.0.0-rc.2-dind-alpine3.17
    pull: always
    network_mode: host
    volumes:
    - name: dockerconfig
      path: /root/.docker/config.json
    - name: dockersock
      path: /var/run/docker.sock
    commands:
  ...

fix: use shellcheck alpine image version
  .drone.yml
Due: preview, e2e

fix: remove hardcoded go arch
  Dockerfile
Due: preview, e2e

fix: wrong cypress url
  e2e-test/e2e-up.sh
Due: preview, e2e

feat: add new tools for the dev environment
  .gitignore
  .tool-versions
  docs/how-to-contribute.md
Due: preview, e2e

chore: add no-docker targets for CI
  .drone.yml
  Makefile
Due: preview, e2e

fix: absolute path
  Makefile
Due: preview, e2e

fix: permissions
  .drone.yml
Due: preview, e2e

feat: add find-exec func util
  Makefile
Due: preview, e2e

fix: miss ui build
  .drone.yml
Due: preview, e2e

chore: update alpine nodejs version
  .drone.yml
Due: preview, e2e

chore: test ci step
  .drone.yml
Due: preview, e2e

fix: align some missing docs tip
  .drone.yml
  Makefile
  docs/how-to-contribute.md
  docs/installation.md
Due: preview, e2e

chore: update make target
  .drone.yml
Due: preview, e2e

chore: test CI
  .drone.yml
Due: preview, e2e

fix: draft an initial solution for fixing the user-recreate-after-delete problem.
  web-client/src/components/edit-user.tsx
  web-client/src/components/new-user-wizard.tsx
  web-client/src/services/role.tsx
Due: preview, e2e

feat: handle rolebindings error, improve user info UX
  web-client/src/components/Templates.tsx
  web-client/src/components/edit-user.tsx
  web-client/src/views/EditUser.tsx
Due: preview, e2e

chore: revert old username field UX
  web-client/src/components/edit-user.tsx
Due: preview, e2e

feat: add yarn
  .tool-versions
Due: preview, e2e

fix: remove unused variables
  web-client/src/components/edit-user.tsx
  web-client/src/components/new-user-wizard.tsx
  web-client/src/services/role.tsx
Due: preview, e2e

Update index.yaml
  index.yaml
Due: preview, e2e

fix: add when and exclude condition
  .drone.yml
Due: preview, e2e

chore: test trigger
  helm_chart/README.md
Due: release-helm-chart

chore: test ref trigger
  .drone.yml
Due: preview, e2e

chore: test new trigger
  .drone.yml
  helm_chart/README.md
Due: preview, release-helm-chart, e2e

Remove duplicated lines generation
  helm_chart/templates/seed.yaml
Due: release-helm-chart

Bump chart version
  helm_chart/Chart.yaml
Due: release-helm-chart

feat: bump to v1.9.0
  .bumpversion.cfg
  deployments/kubernetes/deploy.yml
  docs/installation.md
  helm_chart/Chart.yaml
  helm_chart/README.md
  helm_chart/values.yaml
Due: preview, release-helm-chart, e2e

Fix a typo in the image.tag
  helm_chart/README.md
  helm_chart/values.yaml
Due: release-helm-chart

Path conditions:
  preview: any file but: helm_chart/**
  release-helm-chart: any of: helm_chart/**
  e2e: any file but: helm_chart/**
